
  <div class="card-container">
    <div class="flex flex-col rounded-lg bg-white p-2 pb-6 dark:bg-night-700 card offering-tile">
      <div><img src="{{ path }}" class="offering-image card-image"></div>
      
      <div class="mt-6  flex flex-grow justify-center p-2">
        <h2 class="text-lg p-1 mr-6 font-semibold text-center text-gray-900 dark:text-night-50">{{ offering.name }}</h2>
        <button
          (click)="isRegistered ? viewRequests() : toggleServiceFormModal()"
          class="register-button flex-none rounded-md bg-gray-100 px-4 py-2.5 text-xs font-semibold text-gray-500 transition duration-150 ease-in-out">
          {{ isRegistered ? 'View Bookings' : 'Register' }}
        </button>
      </div>
    </div>
  </div>
  
  
  
  
  

  


  <div *ngIf="isServiceFormVisible" class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
      
    <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
      <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
        <!--
          Modal panel, show/hide based on modal state.

          Entering: "ease-out duration-300"
            From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            To: "opacity-100 translate-y-0 sm:scale-100"
          Leaving: "ease-in duration-200"
            From: "opacity-100 translate-y-0 sm:scale-100"
            To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        -->
        <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-2xl">
          <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
            <div class="mt-3 text-center sm:mt-0 sm:text-left">
              <h2 class="text-base font-semibold leading-6 text-gray-900 text-xl" id="modal-title">Register</h2>
              <div class="mt-2">
                <form [formGroup]="profileForm" class="w-full max-w-2xl mx-auto py-2">
                  <!-- First Name -->
                  <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="first-name">
                      First Name
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="first-name" type="text" placeholder="First Name" formControlName="firstName">
                  </div>
                
                  <!-- Last Name -->
                  <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="last-name">
                      Last Name
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="last-name" type="text" placeholder="Last Name" formControlName="lastName">
                  </div>
                
                  <!-- Gender -->
                  <div class="mb-4">
                    <span class="block text-gray-700 text-sm font-bold mb-2">Gender</span>
                    <div class="flex items-center mb-2">
                      <input id="gender-male" type="radio" name="gender" value="MALE" class="form-radio h-5 w-5 text-blue-600" formControlName="gender">
                      <label for="gender-male" class="ml-2 text-gray-700">Male</label>
                    </div>
                    <div class="flex items-center mb-2">
                      <input id="gender-female" type="radio" name="gender" value="FEMALE" class="form-radio h-5 w-5 text-pink-600" formControlName="gender">
                      <label for="gender-female" class="ml-2 text-gray-700">Female</label>
                    </div>
                  </div>
                
                  <!-- Age -->
                  <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="age">
                      Age
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="age" type="number" placeholder="Age" formControlName="age">
                  </div>
                
                  <!-- Phone Number -->
                  <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="phone">
                      Phone No
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="phone" type="tel" placeholder="Phone Number" formControlName="phoneNumber">
                  </div>
                
                  <!-- Service -->
                  <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="service">
                      Offering
                    </label>
                    <input
                        formControlName="service" 
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-gray-800 text-white"
                        id="service"
                        type="text"
                        placeholder="{{offering.name}}"
                        readonly
                      >
                  </div>
                
                  <!-- Address -->
                  <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="address">
                      Address
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="address" type="text" placeholder="Address" formControlName="address">
                  </div>
                
                  <!-- Per Hour Base Price -->
                  <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="base-price">
                      Per Hour Base Price
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="base-price" type="text" placeholder="Base Price" formControlName="perHourBasePrice" >
                  </div>
                
                  <!-- Field Experience -->
                  <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="experience">
                      Field Experience (Years)
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="experience" type="number" placeholder="Experience" formControlName="fieldExperience">
                  </div>
                
                  <!-- Company/Organisation -->
                  <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="company">
                      Company/Organisation
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="company" type="text" placeholder="Company/Organisation" formControlName="company">
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
            <button type="button" (click)="onSubmit()" [disabled]="this.profileForm.invalid" class="inline-flex w-full justify-center rounded-md bg-green-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-green-500 sm:ml-3 sm:w-auto">Register</button>
            <button type="button"  (click)="toggleServiceFormModal()" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  