<!-- Container for offerings section -->
<div class="offerings-section">
  <div class="mx-auto px-4 py-4 sm:px-8 lg:container">
    <!-- Grid layout for displaying offerings -->
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4">
      <!-- Loop through each offering and render a service card -->
      <app-service-single-card
        *ngFor="let offering of offerings"
        [offering]="offering"
        [partnerId]="partnerId"
        [buttonText]="'Register'"
      ></app-service-single-card>
    </div>
  </div>
</div>
