<app-navigation-bar></app-navigation-bar>
<!-- section with a title and image -->
<div class="container px-28">
  <div class="text-black mt-48 max-w-x">
      <h1 class="text-6xl font-bold leading-normal">Home Services<br><span class="font-light"></span>at your door step</h1>
  </div>
  <img src="/assets/images/x.png" class="w-full xl:w-2/4 xl:absolute bottom-0 top-28 right-20">
</div>
<!-- Section with reasons to choose Local Fix Pros -->
<div class="container px-10 py-40 mt-28 mb-10 mx-auto">
    <h1 class="text-4xl md:text-5xl font-bold text-gray-800 mb-10 text-center md:text-left">Why Local Fix Pros?</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
      <!-- Reason 1: Professional at their Best -->
      <div class="flex items-start space-x-4">
        <img src="/assets/images/professional-at-their-best.png" alt="" class="h-12 w-12 flex-shrink-0" /> 
        <div>
          <h2 class="font-bold text-2xl text-black-600">Professional at their Best</h2>
          <p class="mt-2 text-gray-600">See Professional at work .</p>
        </div>
      </div>
       <!-- Reason 2: 100% Quality Assured -->
      <div class="flex items-start space-x-4">
        <img src="/assets/images/quality.png" alt="" class="h-12 w-12 flex-shrink-0" /> 
        <div>
          <h2 class="font-bold text-2xl text-black-600">100% Quality Assured</h2>
          <p class="mt-2 text-gray-600">If you don’t love our service, we will make it right.</p>
        </div>
      </div>
       <!-- Reason 3: Experts only -->
      <div class="flex items-start space-x-4">
        <img src="/assets/images/experts.png" alt="" class="h-12 w-12 flex-shrink-0" /> 
        <div>
          <h2 class="font-bold text-2xl text-black-600">Experts only</h2>
          <p class="mt-2 text-gray-600">Our professionals are well trained and have on-job expertise.</p>
        </div>
      </div>
       <!-- Reason 4: Fully equipped -->
      <div class="flex items-start space-x-4">
        <img src="/assets/images/equipped.png" alt="" class="h-12 w-12 flex-shrink-0" /> 
        <div>
          <h2 class="font-bold text-2xl text-black-600">Fully equipped</h2>
          <p class="mt-2 text-gray-600">We bring everything needed to get the job done well.</p>
        </div>
      </div>
    </div>
</div>
